/* Container */
.profile-container {
  display: flex;
  font-family: Arial, sans-serif;
}

/* Sidebar */
.profile-sidebar {
  width: 20%;
  background-color: #f8f8f8;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.profile-sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.profile-sidebar ul li {
  display: flex; /* ใช้ Flexbox เพื่อจัดเรียงแนวนอน */
  align-items: center; /* จัดตำแหน่งแนวตั้งให้ตรงกลาง */
  padding: 10px 0;
  color: #333;
  cursor: pointer;
}

.profile-sidebar-menu li:last-child {
  margin-bottom: 20px; /* ให้รายการสุดท้ายมีระยะห่างจากส่วนอื่น */
}

.profile-sidebar ul li.active,
.profile-sidebar ul li:hover {
  color: #FF7043;
}


/* Main Content */
.profile-main {
  flex-grow: 1;
  padding: 20px;
}

.profile-main h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 5px;
  color: #FF7043;
}

.profile-main p {
  font-size: 16px;
  color: #888;
  margin-bottom: 20px;
}

.icon {
  width: 20px; /* กำหนดขนาดไอคอน */
  height: 20px;
  margin-right: 8px; /* เว้นระยะระหว่างไอคอนกับข้อความ */
}  

/* Form */
.profile-form {
  max-width: 500px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group button,
.form-group select {
  width: 100%;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input:disabled {
  background-color: #f8f8f8;
}

.date-of-birth {
  display: flex;
  gap: 10px;
}

.save-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #FF7043;;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #f7a086;
}

.profile-main hr {
  margin: 10px 0;
}

.ant-form-item {
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 20vw auto;
}


